/* In order of appearance */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: flex-start;
  background-color: #eae7dc;
  box-sizing: border-box;
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 100;
  height: 100%;
  justify-content: center;
  margin: 0 0 0 10%;
}

.main-container {
  width: 80%;
  max-width: 700px;
}

header {
  animation: 2s ease fadeIn;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 25px;
  width: 110px;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  font-weight: 100;
  color: rgb(32, 32, 32);
  margin: 0;
}

.job-description {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}

section {
  animation: 2s ease fadeIn;
  margin-bottom: 20px;
  position: relative;
}

.section-header {
  background: #eae7dc;
  position: absolute;
  margin-left: 20px;
  padding: 0 10px;
  top: -7px;
}

.links-container {
  border: 1px solid #e98074;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px 20px 20px;
}

.external-page {
  align-items: center;
  display: flex;
  color: rgb(32, 32, 32);
  font-size: 28px;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;
}

.icon {
  fill: #e98074;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
  padding-top: 4px;
  width: 27px;
}

.icon.gitlab::before {
  content: url(images/gitlab-icon-1-color-black-rgb.svg);
}

.icon.github::before {
  content: url(images/github.svg);
}

.icon.linkedin::before {
  content: url(images/linkedin.svg);
}

.icon.vimeo::before {
  content: url(images/vimeo.svg);
}

footer {
  animation: 2s ease fadeIn;
}

.contact {
  display: inline-block;
  margin: 0;
}

a {
  color: rgb(32, 32, 32);
  transition: color 200ms;
}

a:hover {
  color: #e98074;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 550px) {
  body {
    margin: 0 30px;
  }

  header {
    flex-direction: column;
  }

  .main-container {
    max-width: none;
    width: 100%;
  }

  .profile-pic {
    width: 150px;
  }

  .name {
    font-size: 45px;
  }

  .title {
    font-size: 25px;
  }

  .icon {
    width: 20px;
  }

  .external-page {
    font-size: 25px;
  }

  .contact {
    display: block;
    margin: 0;
  }
}
